@import "tailwindcss";

@theme {
  --color-npr-blue: #2C63AE;
  /* NPR blue */
  --color-npr-blue-dark: #1E4C8D;
  /* NPR dark blue */
  --color-npr-blue-night: #1D273B;
  /* NPR dark blue */
  --color-npr-red: #DA252C;
  /* NPR red */
  --color-npr-red-dark: #D42100;
  --color-npr-dark: #222222;
  /* NPR dark text */
  --color-npr-light: #F7F7F7;
  /* NPR light background */
  --color-npr-gray: #E5E5E5;
  /* NPR gray */
  --font-sans: 'Open Sans', sans-serif;

  /* --animate-wobble: wobble var(--wobble-duration, 0.6s) ease-in-out;

  @keyframes wobble {
    0%, 100%: { transform: 'translateX(0)' }
    15%: { transform: 'translateX(-VAR(--wobble-distance, 4px))' }
    30%: { transform: 'translateX(VAR(--wobble-distance, 4px))' }
    45%: { transform: 'translateX(-VAR(--wobble-distance, 4px))' }
    60%: { transform: 'translateX(VAR(--wobble-distance, 4px))' }
    75%: { transform: 'translateX(-VAR(--wobble-distance, 4px))' }
  } */

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-wobble: wobble 0.5s 1;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes wobble {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
      /* background-color: #DA252C; */
    }
    50% {
      transform: translateX(10px);
      /* background-color: #DA252C; */
    }
  }
}